<!-- JS -->
		<script type="text/javascript">
		var Conf = Conf || {};

			<?php $uri = App::parseUrl(); ?>

			Conf.url = "/symetrie/admin/lib/";
			Conf.model = "<?php echo $uri['model']; ?>";
			Conf.id = "<?php echo $uri['id']; ?>";

			// Load required scripts.	
			head.js( 
				"http://codeorigin.jquery.com/jquery-1.10.2.min.js",
				"<?php echo $vendor; ?>js/vendor/zenpen/js/extra.js",
				"<?php echo $vendor; ?>js/vendor/zenpen/js/utils.js",
				"<?php echo $vendor; ?>js/vendor/zenpen/js/ui.js",
				"<?php echo $vendor; ?>js/vendor/zenpen/js/editor.js",
	        	function(){
	            	
	            	// Initiate ZenPen

	            	editor.init(extra.init());
	    			ui.init();
	    			
	            }
	        );
        </script>