<!-- JS -->
		<script type="text/javascript">
		var Conf = Conf || {};

			<?php $app = new App(); $uri = $app->parseUrl(); ?>

			Conf.url = "<?php print ADMIN_CONF_URL; ?>";
			Conf.model = "<?php echo $uri['model']; ?>";
			Conf.id = "<?php echo $uri['id']; ?>";

			// Load required scripts.	
			head.js( 
				"<?php echo $vendor; ?>js/extra.js",
				"<?php echo $vendor; ?>js/vendor/zenpen/js/editor.js",
				"<?php echo $vendor; ?>js/libs/jquery.sidr.js",
	        	function(){
	            	
	            	// Initiate ZenPen
	            	editor.init(extra.init());
	            		    			
	            }
	        );
	        
        </script>