<head>
		<title>Symétrie EDITOR</title>
        <meta charset="utf-8">
		<meta name="description" content="">
        
		<link href="<?php echo $vendor; ?>css/vendor/zenpen/css/style.css" rel="stylesheet">
		<link href="<?php echo $vendor; ?>css/editor.css" rel="stylesheet">
		<link href="<?php echo $vendor; ?>css/sidr.dark.css" rel="stylesheet">
		<link href="<?php echo $vendor; ?>css/style.css" rel="stylesheet">

		<script src="<?php echo $vendor; ?>js/libs/head.min.js"></script>
		<script src="http://codeorigin.jquery.com/jquery-1.10.2.min.js"></script>

    </head>
    <body>