<div class="overlay">

		</div>

		<div class="text-options">
			<div class="options">
				<span class="no-overflow">
					<span class="lengthen ui-inputs">
						<button class="url useicons">&#xe005;</button>
						<input class="url-input" type="text" placeholder="Type or Paste URL here"/>
						<button class="bold">b</button>
						<button class="italic">i</button>
						<button class="quote">&rdquo;</button>
					</span>
				</span>
			</div>
		</div>

		<div class="ui">

			<div class="wrapper">

				<div class="top editing">
					
					<button class="saveDoc useicons" title="SaveDoc Text">
						&#xe003;
					</button>
				</div>

	
			</div>
		</div>


