<head>

		<!-- MISC/META -->
		<title> ZenPen ~ Minimal Distraction, Maximim Zen </title>
        <meta charset="utf-8">
		<meta name="description" content="Zenpen - A minimal web based text editor, for the modern man.">
        
		<!-- CSS -->
		<link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
		<link href="<?php echo $vendor; ?>css/style.css" rel="stylesheet">
		<link href="<?php echo $vendor; ?>css/fonts.css" rel="stylesheet">

		<!-- LIBS -->
		<script src="<?php echo $vendor; ?>js/libs/head.min.js"></script>
		<script src="<?php echo $vendor; ?>js/libs/FileSaver.min.js"></script>
		<script src="<?php echo $vendor; ?>js/libs/Blob.js"></script>
		<script src="<?php echo $vendor; ?>js/libs/fullScreen.js"></script>
		<script src="http://codeorigin.jquery.com/jquery-1.10.2.min.js"></script>
		<!-- JS loading in footer -->

    </head>
    <body>