.sidr-open .text-options {
	margin-left: 260px;
}

.cEdit-option {
position: relative;
width: 137px;
height: 0px;
overflow: inherit;
display: block;

}
::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}