/* menu admin */
body {
  display:none;
}
.sidr-open .text-options {
	margin-left: 260px;
}
.sidr {
  padding: 10px;!important
}
body.ready {
  display:block;
}
.ui button {
  font-family: inherit;
  background: none;
  cursor: pointer;
  font-size: 20px;
  color: inherit;
  opacity: 0.9;
  padding: 0px;
  border: 0px;
}

.cEdit-option {
  position: relative;
  width: 137px;
  height: 0px;
  overflow: inherit;
  display: block;
}

/* fileds */
.empty:before {
  content : 'Insert your content';
  color:rgba(0,0,0,0.2);
}

::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

*:focus 
{ 
  -moz-outline: 1px solid rgba(0,0,0,0.2) !important; 
  -moz-outline-offset: 1px         !important; 
  -moz-outline-radius: 5px         !important; 
  outline: 1px solid rgba(0,0,0,0.2)  !important; 
  outline-offset: 1px         !important; 
  outline-radius: 5px         !important; 
}
