<!DOCTYPE html>
<html>
    <head>
        {% block head %}
        {% include 'main/header.html.twig' %}
        {% endblock %}
    </head>
    <body class="{{ conf.get_route_info.model }}">
        {% block content %}

        {% endblock %}
    </body>
</html>